@font-face {
	font-family: 'Ferry';
	src: url('./fonts/inter/Ferry-Black.eot');
	src: local('./fonts/inter/Ferry Black'), local('Ferry-Black'),
		url('./fonts/inter/Ferry-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/inter/Ferry-Black.woff') format('woff'),
		url('./fonts/inter/Ferry-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
